<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <div class="digital-page-flip-list">
        <f:for each="{flipbooks}" as="flipbook">
            <div class="digital-page-flip-list__item">
                <h3>{flipbook.title}</h3>
                <f:if condition="{flipbook.description}">
                    <p>{flipbook.description}</p>
                </f:if>
                <f:link.action action="show" arguments="{flipbook: flipbook}">
                    <f:translate key="flipbook.view" default="Katalog ansehen" />
                </f:link.action>
            </div>
        </f:for>
    </div>
</f:section>

</html>
